
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Country
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li *ngFor="let tempCountry of countries">
        <a class="dropdown-item" routerLink="/country/{{ tempCountry.id }}" routerLinkActive="active-link">
          {{ tempCountry.name}}
        </a>
      </li>
   
    </ul>
  </div>
  


