<div class="row">

  <div class="col-4">
    <h3>Filter By :</h3>
  </div>
  <div class="col-4 dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Country
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li *ngFor="let tempCountry of countries">
        <a class="dropdown-item" routerLink="/country/{{ tempCountry.id }}" routerLinkActive="active-link">
          {{ tempCountry.name}}
        </a>
      </li>
   
    </ul>
  </div>
  <div class="col-4 dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      State
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a class="dropdown-item" routerLink="/phoneNumbers/valid" routerLinkActive="active-link">vaild</a>
        <a class="dropdown-item" routerLink="/phoneNumbers/not%20valid" routerLinkActive="active-link">not vaild</a>
      </li>
   
    </ul>
  </div>
</div>


