
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Country Code</th>
        <th scope="col">Phone Number</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempPhoneNumber of phoneNumbersCountries">
        <td>{{ tempPhoneNumber.id}}</td>
        <td>{{ tempPhoneNumber.name}}</td>
        <td>{{ tempPhoneNumber.code}}</td>
        <td>{{ tempPhoneNumber.number }}</td>
        <td>{{ tempPhoneNumber.numberState }}</td>
      </tr>
    </tbody>
  </table>